@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100;0,9..40,200;0,9..40,300;0,9..40,400;0,9..40,500;0,9..40,600;0,9..40,700;0,9..40,800;0,9..40,900;0,9..40,1000;1,9..40,100;1,9..40,200;1,9..40,300;1,9..40,400;1,9..40,500;1,9..40,600;1,9..40,700;1,9..40,800;1,9..40,900;1,9..40,1000&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;


html{
    background-color:  #F4F4FF;
    margin: 0 43px 0 25px;
    max-width: 1720px;
    margin: auto;
    padding: 0 40px 100px 40px;
    overflow-y: hidden;
}

.loader-scale {
    animation: pulse 2s infinite alternate;
}

.shadow-input{
    box-shadow: 0px 0.537px 5.37px 0px rgba(81, 74, 243, 0.25);
}
  
@keyframes pulse {
    from {
        transform: scale(1);
    }
    to {
        transform: scale(1.2);
    }
}
.spinner {
    position: relative;
    width: 100px;
    height: 100px;
  }
  
  .dot {
    width: 10px;
    height: 10px;
    background-color: white;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  
  @keyframes colorChange {
    0%, 100% {
      background-color: #e0cafe;
    }
    50% {
      background-color: #514AF3;
    }
  }

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

@keyframes bouncing-loader {
  to {
    opacity: 0.1;
    transform: translate3d(0, -1.6rem, 0);
  }
}

.bouncing-loader {
  display: flex;
  justify-content: center;
}

.bouncing-loader>div {
  width: 1.6rem;
  height: 1.6rem;
  margin: 4.65rem 0.31rem;
  background: #8385aa;
  border-radius: 50%;
  animation: bouncing-loader 0.6s infinite alternate;
}

.bouncing-loader>div:nth-child(2) {
  animation-delay: 0.2s;
}

.bouncing-loader>div:nth-child(3) {
  animation-delay: 0.4s;
}


.LeverageSlider {
  margin-top: 1.5rem;
  margin-bottom: 3.4rem;

  .rc-slider-tooltip-inner {
    box-shadow: none;
    padding: 0.465rem 0.8rem;
    background: #514AF3;
  }

  .rc-slider-tooltip {
    z-index: 5;
  }

  .rc-slider-tooltip-placement-top .rc-slider-tooltip-arrow {
    border-top-color: #514AF3;
  }

  .rc-slider-rail {
    background: linear-gradient(90deg, #afacfe, #afacfe);
  }

  .rc-slider-track {
    background: linear-gradient(90deg, #514AF3, #514AF3);
  }

  .rc-slider-dot {
    border: none;
    border-radius: 1px;
    width: 3px;
    height: 18px;
    margin-bottom: -5px;
    margin-left: -1px;
    background: #514AF3;
  }

  .rc-slider-dot-active {
    background: #3d51ff;
  }

  .rc-slider-handle {
    background: #514AF3;
    border: solid 2px #514AF3;
  }

  .rc-slider-handle:active {
    box-shadow: 0 0 0.4rem 0.6rem rgba(45, 66, 252, 0.2);
  }

  .rc-slider-mark-text,
  .rc-slider-mark-text-active {
    color: black;
    opacity: 0.8;
  }

  .rc-slider-mark-text:hover,
  .rc-slider-mark-text-active:hover {
    opacity: 1;
  }
}

.Confirmation-box-warning{
  max-width: 400px;
  text-align: center;
  margin: 12px 0;
  background-color: rgb(254 202 202);
  padding: 8px;
  border-radius: 0.75rem;
}

.Confirmation-box-info{
  max-width: 400px;
  text-align: center;
  margin: 12px 0;
  padding: 8px;
  border-radius: 0.75rem;
}